/* ******** commons ********  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.container {
    height: calc(100vh - 80px);
}

.left-bar {
    width: 50px;
    float: left;
    height: 100%;
    display: flex;
    background-color: black;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    min-height: 420px;
}

.right-bar {
    width: calc(100% - 50px);
    float: right;
    height: 100%;
}

/* ******** nav bar ******** */

.left-bar .nav-top, .left-bar .nav-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.left-bar .nav-bottom {
    height: 90px;
}

.left-bar .nav-top {
    height: calc(100% - 90px);
    overflow: hidden;

}
.left-bar .nav-item a {
    color: gray;
    align-self: center;
    text-decoration: none;
    display: none;
}

.left-bar .nav-item a:hover {
    color: white;
}

.left-bar .nav-item {
    margin: 5px 0px;
    display: flex;
    align-self:center ;
}

.left-bar #download a:hover {
    color: white;
}

.left-bar .nav-item img{
    width: 30px;
    color: grey;
}

#playlist {
    display: none;
}

#download img{
    width: 15px;
    color: lightgray;
}

#profile img {
    width: 25px;
    background-color: grey;
    border-radius: 50%;
}

#logo {
    display: none;
}
/* ******** header ******** */

.container-header {
    position: fixed;
    height: 70px;
    width: calc(100vw - 50px);
    background-color: rgb(8, 11, 18);
    z-index: 1;
}

.container-header .btn-conatiner {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.container-header #btn-header:hover {
    transform: scale(1.1);
}

.container-header .btn-conatiner a {
    padding: 10px 40px;
    text-decoration: none;
    border: 1px solid white;
    margin-right: 5%;
    color: white;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 10px;
}


/* ******** main ******** */

.container-main {
    padding-top: 70px;
    height: calc(100vh - 80px);
    margin-right: 0;
    float: right;
    width: 100%;
    overflow: auto;
    background-color: rgb(20,25,34);
}

#main-top ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#main-top nav li:nth-child(1){
    position: relative;
}

#main-top  nav #border-b {
    position: absolute;
    left: 25%;
    right: 25%;
    width: 50%;
    border-bottom:2px solid rgb(173, 255, 47);
}


#main-top nav li {
    list-style: none;
    line-height: 30px;
    margin: 10px 15px;
}

#main-top nav a {
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
    font-size: 12px;
}

#main-top nav a:hover {
    color: white;
}

.section {
    padding: 20px
}

.section h3{
    color: white;
}

.section h5 {
    color: grey;
    margin-top: 10px;
    font-size: 10px;

}

.section .box-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.section .box-container .box{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px 10px;
    width: 150px;
    align-items: center;
}


.section .box-container .box h4 {
    font-size: 13px;
    margin-top: 15px;
}

.section .box-container .hover-box {
    position: relative;
}
.section .box img {
    width: 100%;
}


#artisti-piu-popolari img, #artisti-piu-popolari .middle {
    border-radius: 50%;
}


.section .box .middle {
    background-color: black;
    width: 100%;
    height: calc(100% - 4px);
    transition: .5s ease;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;

}


.section .box .middle-ico {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section .box .middle-ico i {
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.section .box .middle:hover {
    opacity: 0.5;
}


/* ******** footer ******** */

footer {
    position: fixed;
    width: 100%;
}
.container-footer {
    height: 80px;
    width: 100%;
    display: flex;
    padding: 20px 10px;
    background-color: rgb(40,40,40);
}

i {
    font-size: 14px;
}
.container-footer .side-footer {
    width: 30%;
    height: 100%;
    display: flex;
}

.container-footer .central-footer {
    width: 40%;
    height: 100%;
}

.container-footer .side-footer img {
    width: 30px;
}

.container-footer .element {
    color: white;
    align-self: center;
    font-size: 12px;
}

.container-footer .element h4 , .container-footer .element a {
    margin-left: 10px;

}
.container-footer .element a {
    color: grey;
    font-size: 10px;
    text-decoration: none;
}

.container-footer .element a:hover{
    text-decoration: underline;
    color: white;
}
#ico {
    display: flex;
    flex-direction: column;
    font-size: 15px;

}

#ico i {
    margin-left: 15px;
    color: grey;
}

#ico i:hover {
    color:white
}


.central-footer .row-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 250px;
    margin: auto;
}

.central-footer .row-top i{
    color: white;
}
.central-footer .row-top #play {
    font-size: 25px;
}
.central-footer .row-top #play:hover {
    transform: scale(1.3);

}
.central-footer .row-bottom {
    display: flex;
    margin-top: 15px;
    font-size: 10px;
    align-items: center;
}

.bar {
    border-radius: 25px;
    background-color: gray;
    position:relative;
}

.white {
    border-radius: 25px;
    background-color: white;
    height: 3px;
}

.point {
    width: 5px;
    height: 5px;
    background-color: white;
    position: absolute;
    border-radius: 50% ;
    opacity: 0;
}
.central-footer .row-bottom .bar .point {
    left: 29%;
    top: -25%;
}
.central-footer .row-bottom .bar {
    margin: 7px 5px;
    width: 80%;
    display: flex;
}
.central-footer .row-bottom .bar .white {
    width: 30%;
}
.bar:hover .white{
    background-color: rgb(173, 255, 47);
}

.bar:hover .point{
    opacity: 1;
}
.central-footer .row-bottom h5 {
    width: 10%;
    margin: 0px 10px;
    color: white;
}

.side-footer.due {
    justify-content: end;
    align-items: center;
}

.side-footer.due i{
    margin: 0px 5px;
    color: white;
    font-size: 10px;
}

.side-footer.due .bar {
    width: 120px;
    margin: 0px 5px;
}


.side-footer.due .bar .white {
    width: 20%;
}
.side-footer.due .bar .point {
    left: 19%;
    top: -25%;
}
/* ******** mediaquery ******** */

@media  screen and (min-width: 576px) {
    .left-bar {
        width: 200px;
    }

    .left-bar .nav-item{
        padding-left: 15px;
        align-self: flex-start;
    }

    #small-logo {
        display: none;
    }

    #logo {
        margin-top: 10px;
        display: block;
        width: 150px;
        margin-bottom: 10px;
    }
    #home a, #search a, #library a {
        margin-left: 10px;
        font-size: 15px;
    } 

    .left-bar .nav-item a {
        display: inline;
    }

    #home {
        padding-left: 10px;
        border-left: 3px solid rgb(173, 255, 47);
    }
    #playlist {
        display: inline;
    }
    #playlist h5{
        margin-top: 15px;
        color: white;
        font-size: 17px;
        text-transform: uppercase;
    }

    #playlist nav {
        overflow: auto;
        height: 60%;
        /* background-color: green; */
        
    }

    #playlist ul {
        margin-bottom: 100px;
    }
    #crea-playlist a {
       font-size: 15px;
    }
    #playlist nav li {
        margin-bottom: 20px;
        font-size: 12px;
    }
    
    #crea-playlist i{
        background-color: grey;
        padding: 5px;
        font-size: 15px;
    }
    #crea-playlist {
        margin: 15px 0px;
    }
    
    #download a {
        margin-left: 10px;
        font-size: 10px;
        color: gray;
    }

    #download {
        border-bottom: 1px solid grey;
        width: 80%;
        padding-bottom: 20px;
        padding-left: 0;
        margin-left: 15px;
    }

    #profile a{
        margin-left: 10px;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    .right-bar {
        width: calc(100% - 200px);
    }
    .container-header .btn-conatiner {
        margin-right: 150px;
    }
}

@media  screen and (min-width: 768px) {
    .side-footer .element img {
        width: 60px;
    }
    #ico {
        flex-direction: row;
    }
}

@media  screen and (min-width: 992px) {
 

}
/* ******** debug ********  */


/* .debug .container-header {

    background-color: blue;
} */

/* .debug .container-main {
    background-color: red;
}

.debug .container-footer {

    background-color: green;
} */
