/* ******** commons ********  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.container {
    height: calc(100vh - 150px);
}

.left-bar {
    width: 50px;
    float: left;
    height: calc(100vh - 150px);
    display: flex;
    background-color: black;
    justify-content: space-between;
    flex-direction: column;

}

.right-bar {
    width: calc(100vw - 50px);
    float: right;
    height: 100%;
}

/* ******** nav bar ******** */

.left-bar .nav-top, .left-bar .nav-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.left-bar .nav-item a {
    color: gray;
    align-self: center;
    text-decoration: none;
    display: none;
}
.left-bar .nav-item {
    margin: 10px 0px;
    display: flex;
    align-self:center ;

}
.left-bar .nav-item img{
    width: 30px;
}

#playlist {
    display: none;
    
}

#download img{
    width: 15px;
    color: lightgray;
}

#profile img {
    width: 25px;
    background-color: grey;
    border-radius: 50%;
}



/* ******** header ******** */

.container-header {
    position: fixed;
    height: 70px;
    width: calc(100vw - 50px);
    background-color: rgb(8, 11, 18);

   
}

.container-header .btn-conatiner {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.container-header .btn-conatiner a {
    padding: 10px 40px;
    text-decoration: none;
    border: 1px solid white;
    margin-right: 5%;
    color: white;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 10px;
}



/* ******** main ******** */

.container-main {
    padding-top: 70px;
    height: calc(100vh - 150px);
    margin-right: 0;
    float: right;
    width: 100%;
    overflow: auto;
}


/* ******** footer ******** */

.container-footer {
    height: 150px;
    /* position:fixed;  */
    bottom: 0;
    /* left: 0; */
    width: 100%;
    z-index: 1;
}


/* ******** medaquery ******** */

@media  screen and (min-width: 576px) {
    .left-bar {
        width: 200px;
    }

    .left-bar .nav-item{
        padding-left: 15px;
        align-self: flex-start;
    }

    #home a, #search a, #library a {
        margin-left: 10px;
    } 
    .left-bar .nav-item a {
        display: inline;

    }

    #home {
        border-left: 3px solid rgb(173, 255, 47);
    }
    #playlist {
        display: inline;
    }
    #playlist h5{
        color: white;
        font-size: 17px;
        text-transform: uppercase;
    }
    #playlist nav li {
        margin-top: 25px;
    }
    
    #playlist nav li i{
        background-color: grey;
        padding: 5px;
    }
    
    #download a {
        margin-left: 10px;
        font-size: 10px;
        color: gray;
    }

    #download {
        border-bottom: 1px solid grey;
        width: 80%;
        padding-bottom: 20px;
        padding-left: 0;
        margin-left: 15px;
    }

    #profile a{
        margin-left: 10px;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    .right-bar {
        width: calc(100vw - 200px);
    }
    .container-header .btn-conatiner {
        margin-right: 150px;
    }
}

@media  screen and (min-width: 768px) {

}

@media  screen and (min-width: 992px) {


}
/* ******** debug ********  */


/* .debug .container-header {

    background-color: blue;
} */

.debug .container-main {
    background-color: red;
}

.debug .container-footer {

    background-color: green;
}
